Repository ampproject/amp-toolbox, pull requests merged in 2020-10, with the labels that each got.

#932 Fix blurry image placeholder viewbox dimensions
  packages/optimizer/lib/transformers/AddBlurryImagePlaceholders.js
Labels: cla: yes

#912 Dockerized optimizer
  .gitignore
  package-lock.json
  packages/optimizer-docker/Dockerfile
  packages/optimizer-docker/README.md
  packages/optimizer-docker/demo/.dockerignore
  packages/optimizer-docker/demo/Dockerfile
  packages/optimizer-docker/demo/docker-compose.yml
  packages/optimizer-docker/demo/index.html
  packages/optimizer-docker/demo/index.js
  packages/optimizer-docker/demo/package-lock.json
  packages/optimizer-docker/demo/package.json
  packages/optimizer-docker/index.js
  packages/optimizer-docker/package.json
  packages/optimizer-docker/spec/index.spec.js
  packages/optimizer-docker/utils.js
Labels: cla: yes

#915 Fix import statement in cache-url readme
  packages/cache-url/README.md
Labels: cla: yes

#930 Avoid trailing zeros and semicolons in sizer's padding
  packages/optimizer/lib/transformers/ApplyLayout.js
  packages/optimizer/spec/end-to-end/body-only/expected_output.default.html
  packages/optimizer/spec/end-to-end/body-only/expected_output.lts.html
  packages/optimizer/spec/end-to-end/hello-world/expected_output.default.html
  packages/optimizer/spec/end-to-end/hello-world/expected_output.lts.html
  packages/optimizer/spec/end-to-end/hello-world/expected_output.paired.html
  packages/optimizer/spec/end-to-end/story/expected_output.default.html
  packages/optimizer/spec/end-to-end/story/expected_output.lts.html
  packages/optimizer/spec/end-to-end/story/expected_output.paired.html
  packages/optimizer/spec/transformers/valid/ServerSideRendering/converts_heights_attribute_to_css/expected_output.html
  packages/optimizer/spec/transformers/valid/ServerSideRendering/converts_sizes_attribute_to_css/expected_output.html
  packages/optimizer/spec/transformers/valid/ServerSideRendering/does_not_convert_invalid_heights_attribute/expected_output.html
  packages/optimizer/spec/transformers/valid/ServerSideRendering/does_not_convert_invalid_sizes_attribute/expected_output.html
  packages/optimizer/spec/transformers/valid/ServerSideRendering/transforms_layout_responsive/expected_output.html
Labels: bug, cla: yes, toolbox-optimizer

#914 Remove unneeded width & height checks
  packages/optimizer/lib/transformers/PreloadHeroImage.js
Labels: bug, cla: yes, toolbox-optimizer

#918 Add missing closing tags to <amp-img> elements
  packages/optimizer/spec/transformers/valid/PreloadHeroImage/srcset_cannot_be_preloaded/expected_output.html
  packages/optimizer/spec/transformers/valid/PreloadHeroImage/srcset_cannot_be_preloaded/input.html
Labels: bug, cla: yes, toolbox-optimizer

#919 Bump node-fetch from 2.6.0 to 2.6.1
  packages/cli/package.json
  packages/lighthouse-plugin-amp/package.json
  packages/linter/package.json
  packages/optimizer/package.json
  packages/runtime-fetch/package.json
  packages/validator-rules/package.json
Labels: cla: yes

#913 Use node instead of root for checking templates in PreloadHeroImages
  packages/optimizer/lib/transformers/PreloadHeroImage.js
Labels: bug, cla: yes, toolbox-optimizer

#926 Add amp-img srcset linter check
  packages/linter/src/index.ts
  packages/linter/src/rules/AmpImgUsesSrcSet.ts
  packages/linter/tests/local.test.ts
  packages/linter/tests/local/AmpImgUsesSrcSet-1/source.html
  packages/linter/tests/local/AmpImgUsesSrcSet-2/source.html
  packages/linter/tests/local/AmpImgUsesSrcSet-3/source.html
  packages/linter/tests/local/AmpImgUsesSrcSet-4/source.html
  packages/linter/tests/local/AmpImgUsesSrcSet-5/source.html
  packages/linter/tests/local/AmpImgUsesSrcSet-6/source.html
Labels: cla: yes, enhancement, toolbox-linter

#937 Updated title length threshold according to Web Stories criteria
  packages/linter/src/rules/TitleMeetsLengthCriteria.ts
Labels: cla: yes
