Repository ampproject/amp-toolbox, pull requests merged in 2020-07, with the labels that each got.

#852 Improve preload handling with runtime self hosting
  package-lock.json
  packages/optimizer/lib/transformers/RewriteAmpUrls.js
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/adds_esm/expected_output.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/adds_geoapi/expected_output.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/adds_lts/expected_output.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/adds_preloads/expected_output.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/adds_runtime_version/expected_output.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/rewrites_host_and_adds_version/expected_output.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/rewrites_hosts/expected_output.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/rewrites_hosts/input.html
Labels: enhancement, toolbox-optimizer

#854 Fix runtime-host meta tag when using relative URLs
  packages/optimizer/lib/transformers/RewriteAmpUrls.js
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/rewrites_host_and_adds_version/expected_output.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/rewrites_hosts/expected_output.html
Labels: bug, cla: yes, toolbox-optimizer

#855 Only inject runtime-host meta tag if host is given
  packages/optimizer/lib/transformers/RewriteAmpUrls.js
  packages/optimizer/spec/end-to-end/hello-world/expected_output.paired.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/rewrites_host_and_adds_version/expected_output.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/rewrites_hosts/expected_output.html
Labels: bug, cla: yes, toolbox-optimizer

#856 Parallelize image optimization
  packages/optimizer/lib/transformers/OptimizeImages.js
Labels: bug, toolbox-optimizer

#863 fix esm support for auto component import
  packages/optimizer/lib/transformers/AutoExtensionImporter.js
  packages/optimizer/lib/transformers/RewriteAmpUrls.js
  packages/optimizer/spec/end-to-end/body-only/expected_output.lts.html
  packages/optimizer/spec/end-to-end/hello-world/expected_output.default.html
  packages/optimizer/spec/end-to-end/hello-world/expected_output.lts.html
  packages/optimizer/spec/end-to-end/hello-world/expected_output.paired.html
  packages/optimizer/spec/end-to-end/hello-world/input.html
Labels: bug, cla: yes, toolbox-optimizer

#864 Story thumbnail dim req update
  packages/linter/src/rules/StoryMetadataThumbnailsAreOk.ts
  packages/linter/tests/fixtures/thumbnails5.json
  packages/linter/tests/network.ts
Labels: cla: yes

#859 add experimental amp-img -> img transformation
  package-lock.json
  packages/optimizer/lib/DomTransformer.js
  packages/optimizer/lib/transformers/PreloadHeroImage.js
  packages/optimizer/spec/transformers/experimental/PreloadHeroImage/amp-iframe/expected_output.html
  packages/optimizer/spec/transformers/experimental/PreloadHeroImage/amp-iframe/input.html
  packages/optimizer/spec/transformers/experimental/PreloadHeroImage/amp-iframe_data-hero/expected_output.html
  packages/optimizer/spec/transformers/experimental/PreloadHeroImage/amp-iframe_data-hero/input.html
  packages/optimizer/spec/transformers/experimental/PreloadHeroImage/attributes/expected_output.html
  packages/optimizer/spec/transformers/experimental/PreloadHeroImage/attributes/input.html
  packages/optimizer/spec/transformers/experimental/PreloadHeroImage/config.json
  packages/optimizer/spec/transformers/experimental/PreloadHeroImage/fixed/expected_output.html
  packages/optimizer/spec/transformers/experimental/PreloadHeroImage/fixed/input.html
  packages/optimizer/spec/transformers/experimental/PreloadHeroImage/intrinsic-layout/expected_output.html
  packages/optimizer/spec/transformers/experimental/PreloadHeroImage/intrinsic-layout/input.html
  packages/optimizer/spec/transformers/experimental/PreloadHeroImage/responsive-layout/expected_output.html
  packages/optimizer/spec/transformers/experimental/PreloadHeroImage/responsive-layout/input.html
  packages/optimizer/spec/transformers/valid/PreloadHeroImage/data-hero_amp-img/expected_output.html
  packages/optimizer/spec/transformers/valid/PreloadHeroImage/data-hero_amp-img/input.html
  packages/optimizer/spec/transformers/valid/PreloadHeroImage/data-hero_amp-img_maximum/expected_output.html
  packages/optimizer/spec/transformers/valid/PreloadHeroImage/data-hero_amp-img_maximum/input.html
  packages/optimizer/spec/transformers/valid/PreloadHeroImage/does_not_duplicate_existing_image_preload/expected_output.html
  packages/optimizer/spec/transformers/valid/PreloadHeroImage/does_not_duplicate_existing_image_preload/input.html
Labels: cla: yes, enhancement, toolbox-optimizer

#865 Fix: runtime download check
  packages/runtime-fetch/lib/DownloadRuntime.js
  packages/runtime-fetch/spec/lib/DownloadRuntimeSpec.js
Labels: bug, cla: yes

#870 Fix outdated parameter count
  packages/optimizer/lib/transformers/RewriteAmpUrls.js
Labels: cla: yes

#871 Linter reporting
  packages/linter/src/cli.ts
  packages/linter/src/rules/LinkRelCanonicalIsOk.ts
  packages/linter/src/rules/StoryMetadataThumbnailsAreOk.ts
  packages/linter/tests/network.ts
Labels: cla: yes

#872 Fix: hero image not visible on load
  packages/optimizer/lib/fetchRuntimeParameters.js
  packages/optimizer/spec/end-to-end/body-only/expected_output.default.html
  packages/optimizer/spec/end-to-end/body-only/expected_output.lts.html
  packages/optimizer/spec/end-to-end/hello-world/expected_output.default.html
  packages/optimizer/spec/end-to-end/hello-world/expected_output.lts.html
  packages/optimizer/spec/end-to-end/hello-world/expected_output.paired.html
  packages/optimizer/spec/end-to-end/markdown/expected_output.default.html
  packages/optimizer/spec/end-to-end/markdown/expected_output.lts.html
Labels: cla: yes

#875 add publish instructions
  README.md
Labels: cla: yes

#877 Cssnano simple
  package-lock.json
  packages/optimizer/lib/transformers/SeparateKeyframes.js
  packages/optimizer/lib/warmup.js
  packages/optimizer/package-lock.json
  packages/optimizer/package.json
Labels: cla: yes, internal

#857 Proxy support for amp-optimizer
  packages/optimizer/README.md
  packages/optimizer/lib/warmup.js
  packages/optimizer/package-lock.json
  packages/optimizer/package.json
Labels: cla: yes

#881 add gulp demo
  packages/optimizer/demo/gulp/README.md
  packages/optimizer/demo/gulp/gulpfile.js
  packages/optimizer/demo/gulp/package-lock.json
  packages/optimizer/demo/gulp/package.json
  packages/optimizer/demo/gulp/src/index.html
Labels: cla: yes, documentation, toolbox-optimizer

#882 add express demo
  packages/optimizer/demo/express/app.js
  packages/optimizer/demo/express/bin/www
  packages/optimizer/demo/express/package-lock.json
  packages/optimizer/demo/express/package.json
  packages/optimizer/demo/express/public/.gitkeep
  packages/optimizer/demo/express/routes/index.js
  packages/optimizer/demo/express/views/error.hbs
  packages/optimizer/demo/express/views/index.hbs
  packages/optimizer/demo/express/views/layout.hbs
Labels: cla: yes, documentation, toolbox-optimizer
