Repository ampproject/amp-toolbox, pull requests merged in 2020-12, with the labels that each got.

#961 Upgrade dependencies
  CHANGELOG.md
  lerna.json
  package-lock.json
  package.json
  packages/cache-list/package.json
  packages/cache-url/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/cors/package.json
  packages/lighthouse-plugin-amp/package.json
  packages/linter/package-lock.json
  packages/linter/package.json
  packages/linter/src/helper.ts
  packages/linter/src/index.ts
  packages/linter/src/rules/StoryMetadataThumbnailsAreOk.ts
  packages/linter/tests/lib.ts
  packages/linter/tests/local/TitleMeetsLengthCriteria-2/source.html
  packages/optimizer-docker/package.json
  packages/optimizer-docker/utils.js
  packages/optimizer-express/package.json
  packages/optimizer/lib/NodeUtils.js
  packages/optimizer/lib/TreeParser.js
  packages/optimizer/lib/fetchImageDimensions.js
  packages/optimizer/lib/transformers/ApplyCommonAttributes.js
  packages/optimizer/lib/transformers/ReorderHeadTransformer.js
  packages/optimizer/package.json
  packages/optimizer/spec/transformers/valid/MinifyHtml/minifies_inline_amp-script/expected_output.html
  packages/runtime-fetch/package.json
  packages/runtime-fetch/spec/lib/DownloadRuntimeSpec.js
  packages/runtime-version/package.json
  packages/update-cache/package.json
  packages/validator-rules/package.json
Labels: internal

#981 Encode SVG sizer with base64
  packages/optimizer/lib/transformers/ApplyLayout.js
  packages/optimizer/spec/transformers/valid/ServerSideRendering/transforms_layout_intrinsic/expected_output.html
Labels: enhancement, toolbox-optimizer

#1065 Split preconnect and dns-prefetch into two separate links
  packages/optimizer/lib/transformers/GoogleFontsPreconnect.js
  packages/optimizer/spec/transformers/valid/GoogleFontsPreconnect/adds_only_one_preconnect/expected_output.html
  packages/optimizer/spec/transformers/valid/GoogleFontsPreconnect/adds_preconnect_after_meta_charset/expected_output.html
  packages/optimizer/spec/transformers/valid/GoogleFontsPreconnect/adds_preconnect_when_google_fonts_css_exists/expected_output.html
Labels: bug, toolbox-optimizer

#1118 Readd cross fetch
  .github/workflows/CI.yml
  package-lock.json
  packages/cli/package.json
  packages/core/lib/oneBehindFetch.js
  packages/core/package.json
  packages/linter/package-lock.json
  packages/linter/package.json
  packages/optimizer/lib/DomTransformer.js
  packages/optimizer/package-lock.json
  packages/optimizer/package.json
  packages/runtime-fetch/package.json
  packages/runtime-fetch/spec/lib/DownloadRuntimeSpec.js
  packages/validator-rules/lib/loadRules.js
  packages/validator-rules/package.json
Labels: bug
