Repository ampproject/amp-toolbox, pull requests merged in 2021-02, with the labels that each got.

#1134 Upgrade dependencies
  CHANGELOG.md
  package-lock.json
  package.json
  packages/lighthouse-plugin-amp/package.json
  packages/linter/package.json
  packages/optimizer/package.json
  packages/runtime-fetch/package.json
  packages/update-cache/package.json
Labels: internal

#1135 Add missing amp-ad ending tag
  packages/optimizer/spec/transformers/valid/ServerSideRendering/transforms_layout_responsive/expected_output.html
  packages/optimizer/spec/transformers/valid/ServerSideRendering/transforms_layout_responsive/input.html
Labels: bug, toolbox-optimizer

#1139 fix missing custom-element attribute from nomodule import
  packages/optimizer/lib/transformers/RewriteAmpUrls.js
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/adds_esm/expected_output.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/adds_esm/input.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/adds_geoapi/expected_output.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/adds_lts/expected_output.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/adds_preloads/expected_output.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/adds_runtime_version/expected_output.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/rewrites_host_and_adds_version/expected_output.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/rewrites_hosts/expected_output.html
Labels: bug, toolbox-optimizer

#1137 Drop the final width descriptor in a generated srcset.
  package-lock.json
  packages/optimizer/lib/transformers/OptimizeImages.js
  packages/optimizer/spec/transformers/valid/OptimizeImages/adds_srcset/expected_output.html
Labels: bug, toolbox-optimizer

#1141 Update dependencies
  package-lock.json
  package.json
  packages/linter/package.json
  packages/optimizer/package.json
  packages/update-cache/package.json
Labels: internal

#1142 Don't remove sizes for hero images
  packages/optimizer/lib/transformers/ApplyCommonAttributes.js
  packages/optimizer/lib/transformers/OptimizeHeroImages.js
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/amp-img-sizes/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/amp-img-sizes/input.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/srcset_cannot_be_preloaded/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/srcset_validity_empty_srcset/expected_output.html
  packages/optimizer/spec/transformers/valid/ServerSideRendering/converts_sizes_attribute_to_css/expected_output.html
  packages/optimizer/spec/transformers/valid/ServerSideRendering/converts_sizes_attribute_to_css/input.html
Labels: bug, toolbox-optimizer

#1143 Add extension scripts in logical order
  packages/optimizer/lib/transformers/AutoExtensionImporter.js
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/amp-access-laterpay/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/amp-subscriptions/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/auto-imports-missing-extensions/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/ignores-existing-extensions/expected_output.html
Labels: bug, enhancement, toolbox-optimizer
