Repository ampproject/amp-toolbox, pull requests merged in 2021-04, with the labels that each got.

#1188 Make ES modules option consistent
  packages/optimizer/README.md
  packages/optimizer/lib/transformers/RewriteAmpUrls.js
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/config.json
  packages/optimizer/spec/transformers/valid/RewriteAmpUrls/adds_esm/input.html
  packages/optimizer/spec/transformers/valid/RewriteAmpUrls/adds_lts/expected_output.html
  packages/optimizer/spec/transformers/valid/RewriteAmpUrls/adds_preloads/expected_output.html
  packages/optimizer/spec/transformers/valid/RewriteAmpUrls/config.json
Labels: bug, documentation, toolbox-optimizer

#1196 Prevent SSR for amp-img occurring after second paragraph
  packages/optimizer/lib/transformers/OptimizeHeroImages.js
  packages/optimizer/spec/end-to-end/hello-world/expected_output.default.html
  packages/optimizer/spec/end-to-end/hello-world/expected_output.lts.html
  packages/optimizer/spec/end-to-end/hello-world/expected_output.minimal.html
  packages/optimizer/spec/end-to-end/hello-world/expected_output.paired.html
  packages/optimizer/spec/end-to-end/markdown/expected_output.default.html
  packages/optimizer/spec/end-to-end/markdown/expected_output.lts.html
  packages/optimizer/spec/end-to-end/markdown/expected_output.minimal.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/amp-iframe/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/amp-iframe_data-hero/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/amp-img/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/amp-img_after_first_paragraph/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/amp-img_after_first_paragraph/input.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/amp-img_in_first_paragraph/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/amp-img_in_first_paragraph/input.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/amp-img_in_second_paragraph/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/amp-img_in_second_paragraph/input.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/attributes/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/does_not_duplicate_existing_image_preload/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/fixed/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/hero_image_dimensions_from_parent_container/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/ignores_data_uris_amp-iframe/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/ignores_data_uris_amp-img/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/ignores_non_image_preloads/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/ignores_tiny_images_responsive/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/intrinsic-layout/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/media_attribute_amp-iframe/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/media_attribute_amp-img/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/media_attribute_amp-video-iframe/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/responsive-layout/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/same_as_above_with_nodisplay_layout_removed/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/srcset_cannot_be_preloaded/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/srcset_validity_empty_srcset/expected_output.html
Labels: toolbox-optimizer

#1194 Add crossorigin=anonymous to nomodule scripts the same as module ones
  packages/optimizer/lib/transformers/RewriteAmpUrls.js
  packages/optimizer/spec/end-to-end/body-only/expected_output.default.html
  packages/optimizer/spec/end-to-end/body-only/expected_output.lts.html
  packages/optimizer/spec/end-to-end/body-only/expected_output.minimal.html
  packages/optimizer/spec/end-to-end/hello-world/expected_output.default.html
  packages/optimizer/spec/end-to-end/hello-world/expected_output.lts.html
  packages/optimizer/spec/end-to-end/hello-world/expected_output.minimal.html
  packages/optimizer/spec/end-to-end/hello-world/expected_output.paired.html
  packages/optimizer/spec/end-to-end/markdown/expected_output.default.html
  packages/optimizer/spec/end-to-end/markdown/expected_output.lts.html
  packages/optimizer/spec/end-to-end/markdown/expected_output.minimal.html
  packages/optimizer/spec/end-to-end/story/expected_output.default.html
  packages/optimizer/spec/end-to-end/story/expected_output.lts.html
  packages/optimizer/spec/end-to-end/story/expected_output.minimal.html
  packages/optimizer/spec/end-to-end/story/expected_output.paired.html
  packages/optimizer/spec/end-to-end/trailing-template/expected_output.default.html
  packages/optimizer/spec/end-to-end/trailing-template/expected_output.lts.html
  packages/optimizer/spec/end-to-end/trailing-template/expected_output.minimal.html
  packages/optimizer/spec/end-to-end/trailing-template/expected_output.paired.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/adds_geoapi/expected_output.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/adds_runtime_version/expected_output.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/rewrites_host_and_adds_version/expected_output.html
  packages/optimizer/spec/transformers/experimental/RewriteAmpUrls/rewrites_hosts/expected_output.html
  packages/optimizer/spec/transformers/valid/RewriteAmpUrls/adds_esm/expected_output.html
Labels: enhancement, toolbox-optimizer

#1198 Improve logic to detect explicitly marked hero images
  packages/optimizer/lib/transformers/OptimizeHeroImages.js
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/amp-iframe_data-hero/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/amp-img_with_noscript_fallbacks/expected_output.html
  packages/optimizer/spec/transformers/valid/OptimizeHeroImages/amp-img_with_noscript_fallbacks/input.html
Labels: bug, toolbox-optimizer

#1218 Only recommend Font Display Optional for non-icon fonts
  packages/linter/src/rules/NoIconFontIsUsed.ts
  packages/page-experience/lib/checks/fontDisplay.js
  packages/page-experience/test-data/checks/fontDisplay/font-display-icon-font-material.html
  packages/page-experience/test-data/checks/fontDisplay/font-display-icon-font-material.json
  packages/page-experience/test-data/checks/fontDisplay/font-display-swap-google-fonts.json
Labels: bug

#1220 Enable optional transformers for their own tests
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/allow-specific-version/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/amp-access-laterpay/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/amp-bind-bindX/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/amp-bind-data-amp-bind/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/amp-bind-square-brackets/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/amp-carousel/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/amp-form/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/amp-subscriptions/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/auto-imports-missing-extensions/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/config.json
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/ignores-existing-extensions/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/script-templates/expected_output.html
  packages/optimizer/spec/transformers/valid/SeparateKeyframes/config.json
  packages/optimizer/spec/transformers/valid/SeparateKeyframes/doesnt_add_tag_with_no_keyframes/expected_output.html
  packages/optimizer/spec/transformers/valid/SeparateKeyframes/doesnt_move_invalid_keyframes/expected_output.html
  packages/optimizer/spec/transformers/valid/SeparateKeyframes/doesnt_move_media_supports_no_keyframes/expected_output.html
  packages/optimizer/spec/transformers/valid/SeparateKeyframes/moves_existing_keyframes_to_end/expected_output.html
  packages/optimizer/spec/transformers/valid/SeparateKeyframes/moves_keyframes/expected_output.html
  packages/optimizer/spec/transformers/valid/SeparateKeyframes/moves_keyframes_with_existing/expected_output.html
Labels: bug, toolbox-optimizer

#1222 Make cache configurable
  packages/core/lib/FileSystemCache.js
  packages/optimizer/README.md
  packages/optimizer/lib/DomTransformer.js
  packages/optimizer/lib/cache.js
  packages/optimizer/lib/fetchRuntimeParameters.js
  packages/optimizer/spec/end-to-end/EndToEndSpec.js
  packages/optimizer/spec/end-to-end/body-only/expected_output.full.html
  packages/optimizer/spec/end-to-end/hello-world/expected_output.fast.html
  packages/optimizer/spec/end-to-end/hello-world/expected_output.full.html
  packages/optimizer/spec/end-to-end/markdown/expected_output.full.html
  packages/optimizer/spec/end-to-end/story/expected_output.fast.html
  packages/optimizer/spec/end-to-end/story/expected_output.full.html
  packages/optimizer/spec/end-to-end/trailing-template/expected_output.fast.html
  packages/optimizer/spec/end-to-end/trailing-template/expected_output.full.html
  packages/optimizer/spec/end-to-end/trailing-template/expected_output.minimal.html
  packages/optimizer/spec/end-to-end/trailing-template/expected_output.runtime.html
Labels: enhancement, toolbox-optimizer
