Repository ampproject/amp-toolbox, pull requests merged in 2021-06, with the labels that each got.

#1232 Add SSR support for fluid layout
  packages/optimizer/lib/transformers/ApplyLayout.js
  packages/optimizer/spec/transformers/valid/ServerSideRendering/transforms_layout_fluid/expected_output.html
  packages/optimizer/spec/transformers/valid/ServerSideRendering/transforms_layout_fluid/input.html
Labels: enhancement

#1237 Make ESM config consistent
  packages/optimizer/lib/transformers/AmpBoilerplateErrorHandler.js
  packages/optimizer/spec/transformers/valid/AmpBoilerplateErrorHandler/adds_error_handler_when_boilerplate_present_esm_disabled/input.html
  packages/optimizer/spec/transformers/valid/AmpBoilerplateErrorHandler/adds_error_handler_when_boilerplate_present_esm_enabled/input.html
Labels: bug, toolbox-optimizer

#1241 AutoExtensionImporter: Append extension scripts after runtime script
  packages/optimizer/lib/HtmlDomHelper.js
  packages/optimizer/lib/transformers/AutoExtensionImporter.js
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/allow-specific-version/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/amp-access-laterpay/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/amp-bind-bindX/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/amp-bind-data-amp-bind/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/amp-bind-square-brackets/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/amp-carousel/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/amp-form/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/amp-subscriptions/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/auto-imports-missing-extensions/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/ignores-existing-extensions/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/script-templates/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/uses-non-experimental-versions/expected_output.html
Labels: toolbox-optimizer

#1247 Fix: don't import amp-inputmask for svg masks
  packages/optimizer/lib/transformers/AutoExtensionImporter.js
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/ignore-mask-in-svgs/expected_output.html
  packages/optimizer/spec/transformers/valid/AutoExtensionImporter/ignore-mask-in-svgs/input.html
Labels: bug
